body {
    background-color: rgb(207, 207, 218);
}
.off-canvas-content {
    background-color: rgba(226, 226, 245, 0.774);
}

h3, h5 {
    text-decoration: underline;
    font-weight: bolder;
}

.medium-61 {
    float: right;;
}